.App {
  text-align: center;
}


img, .wrapper_rand {
  display: inline-block;
   word-wrap: break-word;
  vertical-align: middle; 
  margin-right:20px;
  
}

img {
  width:100px;
}
ul {
  list-style: none;
}